  <div class="col col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
    <div class="panel-heading">
      <a href="{{this.link}}">{{this.title}}</a>

      <!-- Trigger the modal with a button -->
          <button type="submit" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-id="{{this._id}}" id="saveBtn"data-target="#saveModal">Save Article</button>
    </div>
    <div class="panel-body">
      <div class="col col-md-3 col-sm-6 col-sm-12 pull-right">
          <img src="{{this.image}}" height="120px" width="200px">
      </div>
      <p>{{this.byline}}</p>
          <p>{{this.summary}}</p>
    </div>    
  </div>
</div>


<!-- Modal -->
          <div id="saveModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Your article  has been saved!</h4>
                </div>
                <div class="modal-body">
                  <p>To view your article and to add notes, go to the Saved Articles tab. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>