<div class="panel panel-success">
    <div class="panel-heading">
      <a href="{{this.link}}">{{this.title}}</a>
      {{#if saved}}

       
       <button data-id="{{this._id}}" class="btn btn-warning btn-sm pull-right note" data-toggle="modal"  data-target="#noteModal">Comment</button>

      {{else}}
       <button type="button" class="btn btn-danger-sm" data-id="{{this._id}}" id="unsaveBtn"data-target="#unsaveModal">Unsave</button>
      {{/if}}
      
      <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-id="{{this._id}}" id="deleteBtn"data-target="#deleteModal">Delete</button>
    
    </div>
    
    <div class="panel-body">
      <div class="col col-md-3 col-sm-6 col-sm-12 pull-right">
          <img id="image" src="{{this.image}}" height="120px" width="200px">
      </div>
      <p>{{this.byline}}</p>
          <p>{{this.summary}}</p>
    </div>    

</div>



  


<!-- Trigger the Edit modal with a button -->
            

              <!-- Modal -->
              <div id="noteModal" class="modal fade" data-id="modal{{_id}}" role="dialog" >
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-note">Notes for:</h2>
                      <h4 class="modal-title">{{title}}</h4>
                      <h5 class="modal-byline">{{byline}}</h5>
                    </div>
                    <div class="modal-body">
                      <form id="form-add-{{_id}}" class="form-group">
                        <div class="all-notes"></div>
                        <label for="note">Note:</label>
                        <textarea class="note-text form-group form-control" name="userNote" rows="2"></textarea>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default add-note">Add Note</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Trigger the Delete with a button -->
              

              {{!-- <!-- Modal -->
              <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Delete Article</h4>
                    </div>
                    <div class="modal-body">
                      <p>Your article {{this.title}} has been deleted!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div> --}}